* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1200px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
}

.lock {
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.overlay_hidden {
  visibility: hidden;
}

.search-container {
  width: 100%;
  text-align: center;
}

.results-container {
  width: 100%;
  margin: 20px 0;
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 20px;
}

.results-heading {
  display: block;
  margin: 24px auto;
  font-size: 20px;
  text-align: center;
}

.results-subheading {
  margin: 24px auto;
  font-size: 18px;
}

.link {
  color: black;
}

.results-card {
  width: 240px;
  height: 360px;
  border: 1px solid gray;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.3s ease;
  margin: 10px;
}

@media (hover: hover) {
  .results-card:hover {
    cursor: pointer;
    opacity: 80%;
  }
}

.results-card__image {
  width: 240px;
  height: 300px;
  background-color: #cccccc;
  object-fit: cover;
}

.card-description {
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 300px;
  width: 100%;
  padding: 10px 5px;
  overflow: hidden;
}

.error-message {
  margin-top: 30vh;
}
