* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  width: 800px;
  min-width: 320px;
  margin: 0 auto;
}

.App {
  padding: 10px;
  margin-bottom: 20px;
}

.search-container {
  width: 100%;
}

.input {
  width: 280px;
  padding: 5px;
  margin-right: 10px;
}

.search-button {
  padding: 5px 10px;
}
